.main {
	background-color: white;
	min-height: 100vh;
	padding: 40px 100px 0;
}
.container {
	width: 1200px;
	margin: 0 auto;
	background-color: whitesmoke;
	display: flex;
	flex-direction: column;
	padding: 10px;
	gap: 20px;
	.manga {
		display: flex;
		background-color: white;
		height: 200px;
		&_img {
			display: block;
			width: 120px;
			height: 100%;
			cursor: pointer;
		}
		&_title_wrapper {
			display: flex;
			flex-direction: column;
			padding: 10px;
			gap: 10px;
			.manga_title {
				font-size: 23px;
				cursor: pointer;
				transition: ease-out 0.1s;
				&:hover {
					color: darkgray;
				}
			}
			.manga_type {
				font-size: 16px;
			}
		}
	}
}
