.manga {
	display: flex;
	gap: 10px;
	height: 180px;
	width: 100%;
	border: 1px solid black;
	&_cover_img {
		width: 120px;
		height: 180px;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.manga_prev_descr {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 10px;
		.manga_title {
			font-size: 20px;
		}
		.manga_subtitle {
			font-size: 15px;
		}
	}
}
